<div class="container mx-auto lg:max-w-3xl">
  <nav class="bg-violet-50 px-6 py-8 flex justify-between items-center">
  </nav>
  <main class="bg-violet-50 px-6 py-8 pt-0 space-y-6">
    <div class="p-6 bg-white rounded-lg space-y-4">
      <% if alert = flash[:alert] %>
        <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
      <% end %>

      <% if notice = flash[:notice] %>
        <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
      <% end %>

      <h1 class="font-bold text-4xl">Sign in</h1>

      <%= form_with url: session_url, class: "space-y-6" do |form| %>
        <div class="my-5">
          <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "form-input" %>
        </div>

        <div class="my-5">
          <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: "form-input" %>
        </div>

        <div class="flex items-center justify-between">
          <%= form.submit "Sign in", class: "btn btn--accent" %>
          <%= link_to "Forgot password?", new_password_path, class: "text-primary hover:underline" %>
        </div>
      <% end %>
    </div>
  </main>
</div>
