<div class="container mx-auto lg:max-w-md">
  <nav class="bg-violet-50 px-6 py-8 flex justify-between items-center"></nav>

  <main class="bg-violet-50 px-6 py-12 pt-0 space-y-6 flex justify-center">
    <div class="p-8 bg-white shadow-lg rounded-xl space-y-6 w-full">
      <% if alert = flash[:alert] %>
        <p class="py-3 px-4 bg-red-100 text-red-600 font-medium rounded-lg text-center">
          <%= alert %>
        </p>
      <% end %>

      <% if notice = flash[:notice] %>
        <p
          class="
            py-3 px-4 bg-green-100 text-green-600 font-medium rounded-lg text-center
          "
        >
          <%= notice %>
        </p>
      <% end %>

      <h1 class="font-bold text-3xl text-gray-900 text-center">Sign in</h1>

      <%= form_with url: session_url, class: "space-y-6" do |form| %>
        <div>
          <%= form.email_field :email_address,
                           required: true,
                           autofocus: true,
                           autocomplete: "username",
                           placeholder: "Enter your email address",
                           value: params[:email_address] || "visitor@example.com",
                           class:
                             "w-full px-4 py-3 border rounded-lg ring-1 ring-gray-300 focus:ring-2 focus:ring-violet-500 focus:outline-none" %>
        </div>

        <div>
          <%= form.password_field :password,
                              required: true,
                              autocomplete: "current-password",
                              placeholder: "Enter your password",
                              maxlength: 72,
                              value: "password",
                              class:
                                "w-full px-4 py-3 border rounded-lg ring-1 ring-gray-300 focus:ring-2 focus:ring-violet-500 focus:outline-none" %>
        </div>

        <div class="flex items-center justify-between">
          <%= form.submit "Sign in",
                      class:
                        "bg-violet-600 hover:bg-violet-700 text-white font-semibold py-3 px-6 rounded-lg shadow-md transition-all duration-300" %>
          <%= link_to "Forgot password?",
          new_password_path,
          class: "text-violet-600 hover:underline" %>
        </div>
      <% end %>
    </div>
  </main>
</div>
