<a href="<%= suggestion_path suggestion  %>">
  <article
    class="
      <%= suggestion.status %>-suggestion p-6 bg-white rounded-lg
      space-y-4 flex flex-col border-t-8 h-full <%= case suggestion.status
        when 'in-progress' then 'border-t-fuchsia-600'
        when 'planned' then 'border-t-warning'
        when 'live' then 'border-t-blue-400'
        else 'border-t-gray-500'
        end %>
    "
  >
    <div class="flex items-center gap-4">
      <% case suggestion.status %>
      <% when 'in-progress' %>
        <div class="w-2 h-2 bg-fuchsia-600 rounded-full"></div>
        <p class="text-dark-muted text-sm">In progress</p>
      <% when 'planned' %>
        <div class="w-2 h-2 bg-warning rounded-full"></div>
        <p class="text-dark-muted text-sm">Planned</p>
      <% when 'live' %>
        <div class="w-2 h-2 bg-blue-400 rounded-full"></div>
        <p class="text-dark-muted text-sm">Live</p>
      <% else %>
        <div class="w-2 h-2 bg-gray-500 rounded-full"></div>
        <p class="text-dark-muted text-sm">Unknown</p>
      <% end %>
    </div>
    <!-- Title + Description Adjust for Equal Heights -->
    <div class="space-y-3 flex-grow">
      <p class="font-bold text-dark text-sm md:text-lg">
        <%= suggestion.title %>
      </p>
      <p class="text-dark-muted text-sm md:text-base">
        <%= suggestion.description %>
      </p>
      <button
        class="
          bg-violet-50 rounded-lg py-1.5 px-4 flex items-center gap-2 text-indigo-600
          font-semibold text-xs capitalize
        "
      >
        <%= suggestion.category.name %>
      </button>
    </div>
    <!-- Buttons Stay at the Bottom -->
    <div class="flex justify-between md:w-full mt-auto">
      <button
        class="
          bg-violet-50 rounded-lg py-1 px-4 flex items-center gap-2 text-dark font-bold
        "
      >
        <%= image_tag "shared/icon-arrow-up.svg" %>
        <%= suggestion.upvotes_count %>
      </button>
      <button
        class="
          rounded-lg py-1 px-4 flex items-center gap-2 text-dark font-bold
          <%= 'opacity-50' if suggestion.comments_count.zero? %>
        "
      >
        <%= image_tag "shared/icon-comments.svg" %>
        <%= suggestion.comments_count %>
      </button>
    </div>
  </article>
</a>
