<nav
  class="
    bg-gradient-to-tr md:bg-violet-50 md:bg-none from-rose-500 via-purple-600
    to-sky-500 flex justify-between items-center px-6 py-4 md:justify-evenly
    lg:flex-col lg:gap-6 lg:justify-start lg:p-0
  "
>
  <div
    class="
      md:rounded-lg md:bg-gradient-to-tr from-rose-500 via-purple-600 to-sky-500
      md:p-6 md:w-56 md:h-44 flex flex-col justify-end
    "
  >
    <p class="font-bold text-white">
      Frontend Mentor
    </p>
    <p class="font-medium text-sm text-white">Feedback board</p>
  </div>
  <%= form_with url: suggestions_path, method: :get, local: true, class: "hidden md:flex bg-white p-6 max-w-56 h-44 rounded-lg flex-wrap gap-2 items-start" do %>
    <input type="hidden" name="sort" value="<%= params[:sort] %>">
    <button
        class="
          bg-violet-50 rounded-lg py-1.5 px-4 flex items-center gap-2 text-indigo-600
          font-semibold text-xs <%= "!bg-primary text-white" if !params[:filter].present? || params[:filter] == 'all' %>
        "
        type="submit"
        name="filter"
        value="all"
      >
      All
    </button>
    <% Category.all.each { |category| %>
    <button
          class="
            bg-violet-50 rounded-lg py-1.5 px-4 flex items-center gap-2 text-indigo-600
            font-semibold text-xs <%= category.name.length == 2 ? 'uppercase' : 'capitalize' %>
          <%= "!bg-primary text-white" if params[:filter] == category.name %>
          "
          type="submit"
          name="filter"
          value="<%= category.name %>"
        >
      <%= category.name %>
    </button>
    <% } %>
  <% end %>
  <div
    class="
      hidden md:grid grid-cols-3 flex-col bg-white px-6 py-5 md:max-w-56 h-44
      rounded-lg flex-wrap gap-2 items-baseline justify-center lg:w-full
    "
  >
    <h2 class="text-dark text-lg font-bold col-span-2 mb-2">Roadmap</h2>
    <a
      class="text-sm text-primary font-semibold underline text-right"
      href="/roadmap"
    >View</a>
    <div class="flex col-span-2 items-center gap-4">
      <div class="w-2 h-2 bg-orange-300 rounded-full"></div>
      <span>Planned</span>
    </div>
    <span class="text-right"><%= planned_count %></span>
    <div class="flex items-center col-span-2 gap-4">
      <div class="w-2 h-2 bg-fuchsia-500 rounded-full"></div>
      <span class="">In-Progress</span>
    </div>
    <span class="text-right"><%= in_progress_count %></span>
    <div class="flex items-center col-span-2 gap-4">
      <div class="w-2 h-2 bg-blue-400 rounded-full"></div>
      <span>Live</span>
    </div>
    <span class="text-right"><%= live_count %></span>
  </div>
  <button class="md:hidden">
    <%= image_tag "shared/mobile/icon-hamburger.svg" %>
  </button>
</nav>
