<article
  class="
    p-6 bg-white rounded-lg space-y-4 flex flex-col md:flex-row md:items-center
    md:gap-10
  "
>
  <%= turbo_frame_tag dom_id(suggestion) do %>
    <%= button_to suggestion_upvotes_path(suggestion, "desktop"), class: "
          bg-violet-50 rounded-lg py-1 md:py-2 px-4 md:px-3 md:flex-col items-center gap-2
          text-dark font-bold hidden md:flex
      " do %>
      <%= image_tag "shared/icon-arrow-up.svg" %>
      <%= suggestion.upvotes.count %>
    <% end %>
  <% end %>
  <a href="<%= suggestion_path suggestion  %>" class="grow">
    <div class="space-y-3">
      <p class="font-bold text-dark text-sm md:text-lg">
        <%= suggestion.title %>
      </p>
      <p class="text-dark-muted text-sm md:text-base">
        <%= suggestion.description %>
      </p>
      <button
        class="
          bg-violet-50 rounded-lg py-1.5 px-4 flex items-center gap-2 text-indigo-600
          font-semibold text-xs capitalize
        "
      >
        <%= suggestion.category.name %>
      </button>
    </div>
  </a>
  <div class="flex justify-between">
    <%= turbo_frame_tag dom_id(suggestion, "mobile") do %>
      <%= button_to suggestion_upvotes_path(suggestion), class: "
          bg-violet-50 rounded-lg py-1 px-4 flex items-center gap-2 text-dark font-bold
          md:hidden
      " do %>
        <%= image_tag "shared/icon-arrow-up.svg" %>
        <%= suggestion.upvotes_count %>
      <% end %>
    <% end %>
    <button
      class="
        rounded-lg py-1 px-4 flex items-center gap-2 text-dark font-bold
        <%= 'opacity-50' if suggestion.comments_count === 0  %>
      "
    >
      <%= image_tag "shared/icon-comments.svg" %>
      <%= suggestion.comments_count %>
    </button>
  </div>
</article>
