<div
  class="
    flex flex-col lg:flex-row lg:gap-9 bg-violet-50 lg:container lg:mx-auto lg:py-14
    2xl:py-24
  "
>
  <%= render partial: "suggestions/layout/index_nav",
  locals: {
    planned_count: @planned_count,
    in_progress_count: @in_progress_count,
    live_count: @live_count,
  } %>
  <div class="grow bg-violet-50 flex flex-col">
    <%= render "suggestions/layout/index_menu", suggestions_count: @suggestions.count %>
    <main class="bg-violet-50 px-6 py-8 lg:px-0 grow md:pb-0">
      <div class="flex flex-col gap-4 h-full">
        <% if @suggestions.blank? %>
          <article
            class="
              p-6 bg-white rounded-lg space-y-4 flex flex-col items-center
              gap-6 md:gap-4 grow justify-center
            "
          >
            <%= image_tag "suggestions/illustration-empty.svg"%>
            <div class="text-center text-dark text-lg font-bold">There is no feedback yet.</div>
            <div class="w-72 text-center text-dark-muted text-sm font-normal">Got a suggestion? Found a bug that needs to be squashed? We love hearing about new ideas to improve our app.</div>
            <%= link_to new_suggestion_path, class: "btn btn--accent" do %>
              <span class="text-center">+</span>
              <span>Add feedback</span>
            <% end %>
          </article>
        <% else %>
          <%= render @suggestions %>
        <% end %>
      </div>
    </main>
  </div>
</div>
