<nav
  class="
    bg-gradient-to-tr from-rose-500 via-purple-600 to-sky-500 flex justify-between
    items-center px-6 py-4
  "
>
  <div>
    <p class="font-bold text-white">
      Frontend Mentor
    </p>
    <p class="font-medium text-sm text-white">Feedback board</p>
  </div>
  <button>
    <%= image_tag "shared/mobile/icon-hamburger.svg" %>
  </button>
</nav>
<div class="bg-dark flex justify-between px-6 py-2">
  <div>
    <label htmlFor="sort" class="text-white text-sm">Sort by:</label>
    <select
      name="sort"
      id="sort"
      value="upvotes"
      class="
        border-none bg-transparent text-white text-sm focus-visible:outline-none
        focus:ring-primary focus:ring-2 rounded
      "
    >
      <option value="upvotes">Most upvotes</option>
    </select>
  </div>
  <button
    class="
      bg-secondary text-white font-bold flex rounded-xl px-4 py-2 items-center text-sm
    "
  >
    <div>
      <%= image_tag "shared/icon-plus.svg" %>
    </div>
    Add feedback
  </button>
</div>
<main class="bg-violet-50 px-6 py-8">
  <div class="flex flex-col gap-4">
    <% for suggestion in @suggestions %>
      <a href="<%= suggestion_path suggestion  %>">
        <article class="p-6 bg-white rounded-lg space-y-4">
          <div class="space-y-3">
            <p class="font-bold text-dark text-sm">
              <%= suggestion.title %>
            </p>
            <p class="text-dark-muted text-sm">
              <%= suggestion.description %>
            </p>
            <button
              class="
                bg-violet-50 rounded-lg py-1.5 px-4 flex items-center gap-2 text-indigo-600
                font-semibold text-xs capitalize
              "
            >
              <%= suggestion.category.name %>
            </button>
          </div>
          <div class="flex justify-between">
            <button class="bg-violet-50 rounded-lg py-1 px-4 flex items-center gap-2">
              <%= image_tag "shared/icon-arrow-up.svg" %>
              <%= suggestion.upvotes.count %>
            </button>
            <button class="rounded-lg py-1 px-4 flex items-center gap-2">
              <%= image_tag "shared/icon-comments.svg" %>
              <%= suggestion.comments.count %>
            </button>
          </div>
        </article>
      </a>
    <% end %>
  </div>
</main>
