<nav class="bg-violet-50 px-6 py-8 flex justify-between items-center">
  <div class="flex items-center gap-4">
    <%= image_tag "shared/icon-arrow-left.svg" %>
    Go back
  </div>
  <button
    class="
      bg-primary text-white font-bold flex rounded-xl px-4 py-2 items-center text-sm
    "
  >
    Edit feedback
  </button>
</nav>
<main class="bg-violet-50 px-6 py-8 space-y-6">
  <article class="p-6 bg-white rounded-lg space-y-4">
    <div class="space-y-3">
      <p class="font-bold text-dark text-sm">Add tags for solutions</p>
      <p class="text-dark-muted text-sm">
        Easier to search for solutions based on a specific stack.
      </p>
      <button
        class="
          bg-violet-50 rounded-lg py-1.5 px-4 flex items-center gap-2 text-indigo-600
          font-semibold text-xs
        "
      >
        Enhancement
      </button>
    </div>
    <div class="flex justify-between">
      <button class="bg-violet-50 rounded-lg py-1 px-4 flex items-center gap-2">
        <%= image_tag "shared/icon-arrow-up.svg" %>
        112
      </button>
      <button class="rounded-lg py-1 px-4 flex items-center gap-2">
        <%= image_tag "shared/icon-comments.svg" %>
        112
      </button>
    </div>
  </article>

  <div class="p-6 bg-white rounded-lg space-y-4">
    <h2 class="text-dark text-lg font-bold">4 Comments</h2>
    <ul class="divide-y-2">
      <li class="py-6">
        <article class="space-y-4">
          <div class="flex items-center justify-between">
            <div class="flex gap-4 items-center">
              <%= image_tag "user-images/image-elijah.jpg", class: "rounded-full size-10" %>
              <div>
                <p class="text-sm font-bold text-dark">Elijah Moss</p>
                <p class="text-sm text-dark-muted">@hexagon.bestagon</p>
              </div>
            </div>
            <button class="bg-transparent text-primary text-xs font-semibold">Reply</button>
          </div>
          <p class="text-sm text-dark-muted">
            Also, please allow styles to be applied based on system
            preferences. I would love to be able to browse Frontend Mentor in
            the evening after my device’s dark mode turns on without the bright
            background it currently has.
          </p>
        </article>
      </li>
      <li class="py-6">
        <article class="space-y-4">
          <div class="flex items-center justify-between">
            <div class="flex gap-4 items-center">
              <%= image_tag "user-images/image-james.jpg", class: "rounded-full size-10" %>
              <div>
                <p class="text-sm font-bold text-dark">James Skinner</p>
                <p class="text-sm text-dark-muted">@hummingbird1</p>
              </div>
            </div>
            <button class="bg-transparent text-primary text-xs font-semibold">Reply</button>
          </div>
          <p class="text-sm text-dark-muted">Second this! I do a lot of late night coding and reading. Adding a
            dark theme can be great for preventing eye strain and the headaches
            that result. It’s also quite a trend with modern apps and
            apparently saves battery life.</p>
        </article>
      </li>
    </ul>
  </div>

  <form class="p-6 bg-white rounded-lg space-y-4">
    <label htmlFor="content" class="text-dark text-lg font-bold">Add Comment</label>
    <textarea
      class="
        bg-violet-50 rounded w-full border-none text-sm focus-visible:outline-none
        focus:ring-primary focus:ring-2
      "
      rows="5"
      name="content"
      id="content"
    ></textarea>
    <div class="flex items-center justify-between">
      <p class="text-sm text-dark-muted">250 Characters left</p>
      <button
        class="
          bg-secondary text-white font-bold flex rounded-xl px-4 py-2 items-center text-sm
        "
      >Post Comment</button>
    </div>
  </form>
</main>
