<div class="container mx-auto lg:max-w-3xl">
  <nav class="bg-violet-50 px-6 py-8 flex justify-between items-center">
    <a href="<%= suggestions_path  %>" class="flex items-center gap-4 group">
      <%= image_tag "shared/icon-arrow-left.svg" %>
      <span class="group-hover:underline inline-block">Go back</span>
    </a>
    <button
      class="
        bg-primary text-white font-bold flex rounded-xl px-4 py-2 items-center text-sm
        md:text-base
      "
    >
      Edit feedback
    </button>
  </nav>
  <main class="bg-violet-50 px-6 py-8 pt-0 space-y-6">
    <%= render @suggestion %>

    <div class="p-6 bg-white rounded-lg space-y-4">
      <h2 class="text-dark text-lg font-bold">
        <%= @suggestion.comments.count %>
        Comments
      </h2>
      <ul class="divide-y-2">
        <% for comment in @suggestion.comments %>
          <li class="py-6">
            <article class="space-y-4">
              <div class="flex items-center justify-between">
                <div class="flex gap-4 items-center">
                  <%= image_tag comment.user.profile_picture, class: "rounded-full size-10" %>
                  <div>
                    <p class="text-sm md:text-base font-bold text-dark"><%= comment.user.name %></p>
                    <p class="text-sm md:text-base text-dark-muted">@<%= comment.user.username %></p>
                  </div>
                </div>
                <button
                  class="
                    bg-transparent text-primary text-xs md:text-sm font-semibold hover:underline
                  "
                >Reply</button>
              </div>
              <p class="text-sm md:text-base text-dark-muted">
                <%= comment.content %>
              </p>
            </article>
          </li>
        <% end %>
      </ul>
    </div>

    <form class="p-6 bg-white rounded-lg space-y-4">
      <label htmlFor="content" class="text-dark text-lg font-bold">Add Comment</label>
      <textarea
        class="
          bg-violet-50 rounded w-full border-none text-sm md:text-lg
          focus-visible:outline-none focus:ring-primary focus:ring-2 text-dark-muted
        "
        rows="5"
        name="content"
        id="content"
      ></textarea>
      <div class="flex items-center justify-between">
        <p class="text-sm md:text-lg text-dark-muted">250 Characters left</p>
        <button
          class="
            bg-secondary text-white font-bold flex rounded-xl px-4 py-2 items-center text-sm
            md:text-base
          "
        >Post Comment</button>
      </div>
    </form>
  </main>
</div>
